/* Breakpoints */

/* Navbar */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 772px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  .nav-bg {
    position: fixed;
    top: 11.6%;
    left: 0;
    width: 100%;
    height: 17.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;
    background: rgba(0, 0, 0, 0.3);
  }

  #header {
    padding: 1.25rem 3.25rem;
  }
}

@media (max-width: 350px) {
  #header {
    padding: 1.25rem 0.75rem;
  }

  .navbar a {
    font-size: 0.9rem;
  }

  #menu-icon,
  .logo {
    font-size: 1.3rem;
  }
}

/* Home content */
@media (max-width: 1087px) {
  .header-text p {
    font-size: 1.7rem;
  }

  .header-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 990px) {
  .header-text {
    left: 5%;
    top: 38%;
  }

  .header-text p {
    font-size: 1.5rem;
  }

  .header-text h1 {
    font-size: 2.7rem;
  }

  #home .container img {
    width: 28vw;
  }
}

@media (max-width: 772px) {
  .header-text {
    margin-top: 10%;
    position: relative;
    left: 0%;
    text-align: center;
  }

  #home .container img {
    width: 45vw;
    position: relative;
    left: 5%;
  }
}

@media (max-width: 571px) {
  .header-text {
    margin-top: 10%;
  }

  .header-text h1 {
    font-size: 2.2rem;
  }

  .header-text p {
    font-size: 1.5rem;
  }

  #home .container img {
    width: 50vw;
    margin-top: 6rem;
  }
}

@media (orientation: portrait) {
  #home {
    background-color: #322d31;
  }

  #about {
    background-color: #3f313a;
    background-image: none;
  }

  .about-col-2 h1 {
    margin-left: 4.3rem;
  }

  .about-col-2 .content {
    margin-left: -3rem;
    box-shadow: none;
    background-color: #3f313a;
    width: 100%;
  }

  #skills {
    background-color: #352315;
    background-image: none;
  }

  #contact {
    background-image: none;
    background-color: #003333;
  }

  .contact-left {
    margin-top: 0%;
  }

  .contact-left .title {
    font-size: 2.5rem;
    margin: -3rem 0 4rem 2rem;
  }

  .social-icons {
    margin-top: 0rem;
  }

  .contact-left p i {
    color: aqua;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-left: 1.6rem;
  }

  .contact-left .btn {
    padding: 1rem 1rem;
    margin-left: 4rem;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .contact-right form {
    margin-top: 3rem;
    width: 153%;
  }

  form .btn {
    font-size: 1rem;
    margin-top: 1rem;
  }

  form input::placeholder,
  textarea::placeholder {
    color: #00ffff;
  }

  #msg {
    font-size: 1rem;
  }
}

@media (max-width: 381px) {
  .header-text {
    margin-top: 30%;
  }

  .header-text p {
    font-size: 1.2rem;
  }

  .header-text h1 {
    font-size: 1.8rem;
  }

  #home .container img {
    width: 65vw;
  }
}

@media (max-width: 280px) {
  .header-text {
    margin-top: 30%;
  }

  #home .container img {
    width: 70vw;
  }

  .header-text p {
    font-size: 1rem;
  }

  .header-text h1 {
    font-size: 1.5rem;
  }
}

/* About content */
@media (max-width: 990px) {
  .about-col-2 .content {
    font-size: 1rem;
  }

  .about-col-2 h1 {
    font-size: 3.5rem;
  }

  .about-col-1 img {
    margin-top: 55%;
    width: 40%;
  }
}

@media (max-width: 772px) {
  #about .row {
    flex-direction: column-reverse;
  }

  .about-col-1 {
    position: relative;
  }

  .about-col-1 img {
    width: 40%;
    margin-top: 5rem;
    margin-left: 10rem;
  }

  .about-col-2 {
    position: relative;
    left: 10%;
  }

  .about-col-2 h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .about-col-2 .content {
    line-height: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 578px) {
  .about-col-1 img {
    margin-left: 8rem;
  }

  .about-col-2 h1 {
    margin-left: 3rem;
  }

  .about-col-2 .content {
    margin-left: -3rem;
    box-shadow: none;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .about-col-2 h1 {
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  .about-col-2 .content {
    margin-left: -4rem;
    width: 120%;
    font-size: 0.9rem;
  }

  .about-col-1 img {
    margin-left: 6rem;
    width: 45%;
  }
}

@media (max-width: 346px) {
  .about-col-2 h1 {
    font-size: 2rem;
    margin-left: 2rem;
  }

  .about-col-2 .content {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }

  .about-col-1 img {
    margin-left: 4rem;
    width: 55%;
    margin-top: 3rem;
  }
}

@media (max-width: 270px) {
  .about-col-2 h1 {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }

  .about-col-1 img {
    margin-left: 2rem;
    width: 70%;
    margin-top: 3rem;
  }

  .about-col-2 .content {
    font-size: 0.7rem;
    width: 131%;
    margin-left: -3.5rem;
  }
}

/* Skills content */
@media (max-width: 990px) {
  .skills-main {
    gap: 12px;
  }

  .skills-main div {
    height: 160px;
    width: 160px;
  }

  div img {
    width: 70px;
  }

  .skills-main div p {
    font-size: 0.9rem;
  }
}

@media (max-width: 772px) {
  #skills .container h2 {
    font-size: 3rem;
  }
}

@media (max-width: 515px) {
  #skills .container h2 {
    font-size: 2rem;
  }

  .skills-main div p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  div img {
    width: 50px;
  }

  .skills-main div {
    height: 140px;
    width: 140px;
  }

  .skills-main div p {
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  #skills .container h2 {
    font-size: 1.6rem;
  }

  .skills-main div {
    height: 120px;
    width: 120px;
  }

  div img {
    width: 40px;
  }

  .skills-main div p {
    font-size: 0.75rem;
  }
}

/* Contact content */
@media (max-width: 1102px) {
  form .btn {
    margin-left: 7rem;
  }

  .contact-left .btn {
    margin-left: 3.3rem;
  }
}

@media (max-width: 990px) {
  .contact-left .title {
    font-size: 3.5rem;
  }

  .contact-left p {
    font-size: 1.1rem;
  }

  .contact-left .btn {
    margin-left: 2.3rem;
    font-size: 1rem;
  }

  #contact .row {
    gap: 4rem;
  }

  form .btn {
    margin-left: 4.8rem;
    font-size: 1rem;
  }

  form input,
  form textarea {
    padding: 0.8rem;
  }
}

@media (max-width: 910px) {
  form .btn {
    padding: 1rem 2rem;
    margin-left: 3.8rem;
  }

  .contact-left .btn {
    margin-left: 4.5rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 851px) {
  form .btn {
    padding: 1rem 1rem;
    margin-left: 3rem;
  }
}

@media (max-width: 772px) {
  .contact-left .btn {
    margin-left: 1.6rem;
  }

  form .btn {
    padding: 1rem 1.5rem;
    margin-left: 5rem;
  }

  #contact-left .container .row {
    gap: 3rem;
  }

  #contact .container .row {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .contact-left .title {
    font-size: 3.5rem;
    margin-left: -2rem;
  }

  .contact-left .content {
    margin-left: -2rem;
  }

  .contact-left p {
    font-size: 1rem;
  }

  .contact-left .btn {
    padding: 1rem 1rem;
    margin-left: 0.7rem;
  }

  .contact-right {
    margin-top: -2rem;
  }

  .contact-right form {
    margin-top: 6rem;
    width: 115%;
  }

  form .btn {
    padding: 1rem 2rem;
    margin-left: 4rem;
  }
}

@media (max-width: 680px) {
  #contact .container .row {
    flex-wrap: wrap;
  }

  .contact-left .title {
    margin-left: 6rem;
  }

  .contact-left .content {
    margin-left: 6rem;
  }

  .contact-left .btn {
    margin-top: 2rem;
    margin-left: 11rem;
  }

  .contact-left p i {
    margin-left: 0.4rem;
  }

  .social-icons {
    margin-top: 0;
  }

  .contact-right form {
    width: 100%;
    margin-left: 0.4rem;
  }

  form .btn {
    margin-left: 11rem;
  }
}

@media (max-width: 610px) {
  .contact-left {
    margin-left: -1.7rem;
  }

  form .btn {
    margin-left: 9rem;
  }
}

@media (max-width: 550px) {
  .contact-left .title {
    font-size: 3rem;
  }

  .contact-left .content {
    margin-left: 5rem;
  }

  .contact-left .btn {
    margin-left: 10rem;
  }

  form .btn {
    margin-left: 7rem;
  }
}

@media (max-width: 430px) {
  form .btn {
    margin-left: 4.5rem;
  }

  .contact-left .title {
    margin-left: 4rem;
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .contact-left .content {
    margin-left: 3.5rem;
  }

  .contact-left .btn {
    margin-left: 7rem;
  }
}

@media (max-width: 350px) {
  .contact-left .title {
    font-size: 2rem;
    margin-left: 2.5rem;
  }

  .contact-left .content {
    margin-left: 1rem;
    max-width: 18rem;
  }

  .contact-left p {
    margin-left: -0.7rem;
  }

  .contact-left p i {
    margin-left: 7.8rem;
  }

  .contact-left .btn {
    margin-left: 4rem;
  }

  form .btn {
    margin-left: 1.7rem;
  }
}

/* Footer content */
@media (max-width: 800px) {
  .copyright p {
    font-size: 0.8rem;
  }

  .copyright a {
    width: 2rem;
  }
}

@media (max-width: 540px) {
  .copyright {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .copyright a {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 300px) {
  .copyright p {
    font-size: 0.65rem;
  }

  .copyright a {
    width: 1.7rem;
    height: 1.7rem;
  }
}
