/* Breakpoints */
/* Navbar */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 772px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  #header {
    padding: 1.25rem 3.25rem;
  }
}

@media (max-width: 350px) {
  #header {
    padding: 1.25rem 2.25rem;
  }

  #menu-icon,
  .logo {
    font-size: 1.3rem;
  }
}